.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}

.navbar-brand{
    font-size: 30px;
    font-family: "Arial Black", sans-serif;


}

.navbar-nav{
    font-size: 15px;
    font-family: fantasy sans-serif;

}

.dropdown-menu{

}

body{
    background-color: antiquewhite;
    background-image: url("../Images/flowertaped.png");

    background-repeat: no-repeat;
    background-size: 58em;
    background-position-x: center;
    background-position-y: 150px;
}

h1{
    color: #34220b;
    font-family: "Gill Sans MT", sans-serif;
    font-size: 500%;
    text-align: center;
    display: inline-block ;
    animation: fadeIn linear 7s;
    -webkit-animation: fadeIn linear 7s;
    -moz-animation: fadeIn linear 7s;
    -o-animation: fadeIn linear 7s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    
}
@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.box {
    background: url("../Images/moonrise.jpg");
    background-size: cover;
    background-position: center;
    float:  left;
    position: relative;
    margin: auto;
    border-radius: 0 0 10px 10px;
    animation: fadeIn linear 0.5s;
    -webkit-animation: fadeIn linear 0.5s;
    -moz-animation: fadeIn linear 0.5s;
    -o-animation: fadeIn linear 0.5s;
    display: block;
    width: 25%;


}

.box {
    height: 400px;
    position: relative;


}

.second {
    position: relative;
    text-align: center;
    font-size: 30px;
    font-family: Arial, sans-serif;
    padding-top: 80px;

}
.box .second {
    opacity: 0;
    backface-visibility: hidden;
}

.box:hover {
    background: linear-gradient(rgba(255, 156, 215, 0.74), rgba(213, 189, 203, 0.74)),
    url("../Images/moonrise.jpg") no-repeat center;
    background-size: 450px;
    transition: background 2s;
}
.box:hover .second {
    opacity: 1;
    transition: opacity 0.8s;
}

.box:hover .first {
    opacity: 0;
}

.box2{
    background: url("../Images/garden_wall.jpg");
    height: 400px;
    float: left;
    padding: 0 10px;
    margin: 300px auto 40px;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 0 0 10px 10px;
    animation: fadeIn linear 0.5s;
    -webkit-animation: fadeIn linear 0.5s;
    -moz-animation: fadeIn linear 0.5s;
    -o-animation: fadeIn linear 0.5s;
    display: block;

    width: 25%;

}
.box2 .second {
    opacity: 0;
    backface-visibility: hidden;
}
.box2:hover {
    background: linear-gradient(rgba(255, 156, 215, 0.74), rgba(213, 189, 203, 0.74)),
    url("../Images/moonrise.jpg") no-repeat center;
    background-size: 450px;
    transition: background 2s;
}
.box2:hover .second {
    opacity: 1;
    transition: opacity 0.8s;
}

.box2:hover .first {
    opacity: 0;
}
a{
    color: #146c43;
    text-decoration: none;
    font-style: italic;
}

.box3{
    background: url("../Images/ACNH.png");
    height: 400px;
    padding: 0 10px;
    margin: auto;
    float: left;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 0 0 10px 10px;
    animation: fadeIn linear 0.5s;
    -webkit-animation: fadeIn linear 0.5s;
    -moz-animation: fadeIn linear 0.5s;
    -o-animation: fadeIn linear 0.5s;
    display: block;
    width: 25%;

}
.box3 .second {
    opacity: 0;
    backface-visibility: hidden;
}
.box3:hover {
    background: linear-gradient(rgba(255, 156, 215, 0.74), rgba(213, 189, 203, 0.74)),
    url("../Images/moonrise.jpg") no-repeat center;
    background-size: 450px;
    transition: background 2s;
}
.box3:hover .second {
    opacity: 1;
    transition: opacity 0.8s;
}
.box3:hover .first {
    opacity: 0;
}

.intro p{
    font-family: monospace, serif;
    font-size: 25px;
    color: #34220b;
    font-weight: lighter;
    text-align: center;
    border: solid white;
    animation: fadeIn linear 0.5s;
    -webkit-animation: fadeIn linear 0.5s;
    -moz-animation: fadeIn linear 0.5s;
    -o-animation: fadeIn linear 0.5s;

}

.column {
    float: left;
    width: 33%;
    padding: 0 10px;
}
.row {margin: 0 -5px;

}

.row:after {
    content: "";
    display: table;
    clear: both}
.card {
    box-shadow: 0 4px 8px 0 rgb(255, 255, 255);
    padding: 16px;
    text-align: center;
    background-color: lightpink;
    animation: fadeIn linear 0.5s;
    -webkit-animation: fadeIn linear 0.5s;
    -moz-animation: fadeIn linear 0.5s;
    -o-animation: fadeIn linear 0.5s;}


.card h1{
    font-size: 30px;
    font-family: Verdana, sans-serif ;
    color: #070707;
}

.card p{
    font-size: 16px;
    font-family: Calibri, serif;
}

h3{
    text-align: center;
    animation: fadeIn linear 0.5s;
    -webkit-animation: fadeIn linear 0.5s;
    -moz-animation: fadeIn linear 0.5s;
    -o-animation: fadeIn linear 0.5s;
}

.list h3{
    text-align: left;
}
.list img{
    width: 25%;
    float: left;
}




